<div class="legalNote">{{ section.settings.noteText }}</div>

{% schema %}
{
  "name": "Products Legal Note",
  "settings": [
    {
      "type": "text",
      "id": "noteText",
      "label": "Please Note"
    }
  ]
}
{% endschema %}